*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    overflow-x: hidden;
    font-family: "Roboto";
    letter-spacing: 2px;
}



.btn{
    letter-spacing:0px;
    font-weight: 600;
    padding: 4px;
    border-radius: 4px;
    padding-inline: 8px;
}
.btn:hover{
    background-color: black;
    color: white;
    
}

.prod{
    letter-spacing: 4px;
}